@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

html{
    font-family: 'Lato', sans-serif;
    --RedColor: #f76665;
}
body{
    background-color: rgb(220, 223, 64);
    backdrop-filter: blur(2px);
}
main{
    margin: 50px;
    background: linear-gradient(to right, rgb(236, 236, 236) 0%, rgb(236, 236, 236) 50%, white 50%, white 100%);
    align-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Gamediv{
    display: flex;
    margin: auto;
}
.DiceDiv{
    display:block;
}
.Button{
    display: flex;
    margin: auto;
    width: 200px;
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    cursor: pointer;
}
.Button img{
    width:40px;
    height:40px;
    margin: 5px;
}
#Dice{
    margin-top: 200px;
    margin-bottom: 100px;
    filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
}

h2{
    font-size: 5rem;
    margin-bottom: 0px;
    width: 400px;
    font-weight: 100;
}
.Player{
    display:block;
    margin: auto;
}
.GlobalNumber{
    font-size: 8rem;
    margin-top: 0px;
    color: var(--RedColor);
    font-weight: 100;
}
.CurrentDiv{
    margin: auto;
    background-color: var(--RedColor);
    padding: 8px;
    width: 200px;
}
.RoundNumber{
    color: white;
    font-size: 2rem;
    margin-bottom: 2px;
    margin-top: 2px;
}

.YourTurn{
    font-weight: normal;
    color: var(--RedColor);
}