html{ /*Variables*/
    --Color1: white;
    --Color2: rgb(194, 219, 177);
    --Color3: rgb(0, 255, 0);
    --Color4: rgb(170, 230, 130);
    --ShadowColor: rgba(0, 0, 0, 0.35);
}
header{
    display: flex;
    background-color: var(--Color1);
    box-shadow: var(--ShadowColor) 0px -20px 20px 20px;
}
nav{
    margin: auto;
    width: 50%;
}
.card{
    border-radius: 20px;
    box-shadow: var(--ShadowColor) 0px 5px 15px;
    border: rgb(255, 255, 255) 2px solid;
    transition: 0.5s;
    margin: 10px;
    margin-bottom: auto;
    margin-top: 20px;
}
.card:hover{
    transform: scale(101%);
}
.card-img-left{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 20%;
    min-height: 150px;
}
.card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-img-icon{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.card-info-horisontal{
    background-color: var(--Color4);
    color: black;
    position: absolute;
    bottom: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.card-info-vertical{
    background-color: var(--Color4);
    color: black;
    bottom: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
a{
    color: black;
}
.center{
    display: block;
    text-align: center;
}
.card-title, .card-text{
    padding: 0.5rem;
}
.card-body{
    padding: 0%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container{
    margin-top: 5em;
    margin-bottom: 6em;
}
.copyright{
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
    background-color: var(--Color1);
    box-shadow: var(--ShadowColor) 0px 20px 20px 20px;
}
.copyright p{
    margin: 0px;
}
.totop{ /*Bouton pour retourner en haut*/
    position: fixed;
    bottom: 30px;
    right: 20px;
}
@media screen and (max-width: 900px){
    header{
        display: block;
    }
    nav{
        margin: 0px;
        width: auto;
    }
    .grid{
        display: block;
    }
    .container{
        margin-top: 8em;
    }
    .card{
        width: auto;
    }
    .card-img-left{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .card-img-left{
        display: none;
    }
    .card-info-horisontal{
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        position: relative;
    }
}